<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Welcome to Dent</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="templates/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="templates/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Welcome to Dent</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Welcome to Dent</h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to Dent</h5>
      </div>
      <div class="row center">
        <a href="http://ruinmysearchhistory.com/" id="download-button" class="btn-large waves-effect waves-light yellow darken-2">Get Fucked</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s6 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Server Information</h5>

            <p class="light center">Uptime: {{ uptime }}</p>
            <p class="light center">Public IP: {{ ip }}</p>
          </div>
        </div>

        <div class="col s6 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Service Status</h5>
            {% for service in services %}
                <p class="light center">{{ service }}</p>
            {% endfor %}
          </div>
        </div>

      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Information</h5>
          <p class="grey-text text-lighten-4">Please don't contact me. Thanks</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Tristan. He owns this server
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="templates/js/materialize.js"></script>
  <script src="templates/js/init.js"></script>

  </body>
</html>
